{{#if Id1}}
	{{#link-to 'funcs.func.kind.id1' model}}
	{{/link-to}}
	{{outlet "id1"}}
{{/if}}

{{#if Id2}}
	{{#link-to 'funcs.func.kind.id2' model}}
	{{/link-to}}
	<p>{{outlet "id2"}}</p>
{{/if}}

{{#if Id3}}
	{{#link-to 'funcs.func.kind.id3' model}}
	{{/link-to}}
	<p>{{outlet "id3"}}</p>
{{/if}}

