<p>显示区1</p>
<div class="kindTitle ui menu">
	<a class="kindName item">
		<span class="kindIcon">
			{{link-to '11' 'funcs.devicemanager.row1.kind1'}}
		</span>
	</a>
	<a class="kindName item">
		<span class="kindIcon">
			{{link-to '22' 'funcs.devicemanager.row1.kind2'}}
		</span>
	</a>
	<a class="kindName item">
		<span class="kindIcon">
			{{link-to '33' 'funcs.devicemanager.row1.kind3'}}
		</span>
	</a>
</div>
<div class="detail">
	{{outlet}}
</div>
