<p>显示devicemanager的内容</p>

<p>{{link-to '11111' 'funcs.devicemanager.row1'}}</p>

<div class="detail">
	{{outlet "row1"}}
</div>


<p>{{link-to '22222' 'funcs.devicemanager.row2'}}</p>

<div class="detail">
	{{outlet "row2"}}
</div>
