<p>显示区1</p>
<!--
<div class="ui segment">
	<section id="chart"></section>
	<div id="id1_chartstatus">
		<div class="ui teal label">
			<i class="icon long arrow up"></i>
			0.00kbps
		</div>
		<div class="ui red label">
			<i class="icon long arrow down"></i>
			0.00kbps
		</div>
		<div class="ui teal big label">
			查看状态详情
		</div>
	</div>
	<hr/>
	<div id="id1_status">
		<div>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
		</div>
		<div>
			<p>LAN1未连接</p>
			<p>LAN2未连接</p>
			<p>WAN1未连接</p>
			<p>USB未连接</p>
			<p>2G-已开启</p>
			<p>5G-已开启</p>
			<p>重启路由器</p>
		</div>
	</div>
</div>
-->