<p>显示区2</p>
<!--
<div class="ui segment">
	<i class="icon mobile" style="font-size:60px;"></i>
	<div class="ui transparent input editName">
		<input type="text" placeholder="android-fe78d61e309eb393" readonly="readonly"/>
		<i class="icon edit" {{action "editName"}}></i>
		<i class="icon user"></i>
	</div>
	<div>
		<span>连接方式</span>
		<i class="icon wifi"></i>
	</div>
</div>
-->